*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

.error {font-family: "RobotoRegular", sans-serif;
font-size: 16px;
text-align: center;
color: #fff;
	background :#524e45;}

body {
  background:#f1ece3;
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}

header {
	    
	    min-height: 122px;
	  
	    position: relative;
	    font-family: 'BebasRegular';
}

header a {color: #0196d8;}

.top_line {min-height: 122px; 
		  top: 0;
		  width: 100%;
		  background-image: url(../img/bg_firstline.jpg);
          background-repeat: no-repeat;
          background-size: cover;
		  padding-bottom: 10px; padding-top: 20px;}

.top_line a {font-size: 22px; 
            border-bottom: transparent solid 1px;
            transition: all .25s;}

.top_line a:hover {border-bottom: #0196d8 1px solid;}

.top {padding-left: 60px;
             background-image: url(../img/icon3.png);
             background-repeat: no-repeat;
             background-position: top left;
             background-size: contain;
             line-height: 35px;}

.top strong {display: block; 
	                color: #d12f22;
	                text-transform: uppercase;
	                font-weight: bold;
	                font-size: 41px;
	                }

.top_line .logo {border-bottom: none;
                 position: absolute;
                 margin-top: -18px;
                 }
.top_line .logo:hover {border-bottom: none;}

.logo_wrap {position: relative; width: 240px; margin: 0 auto;}

.second_line {min-height: 100px; position:; top: 0; background-image: url(../img/bg_secondline.jpg);
               background-repeat: repeat; color: #eae5d2; font-family: '7738'; font-size: 25px; padding-top: 10px; text-align: center;
               padding-bottom: 10px; padding-top: 10px;}

.third_line { background-image: url(../img/bg_thirdline.jpg);
               background-repeat: repeat;
               background-size: 100%;
                background-position: top center; 
               height: 100% ;
               }

.match {font-family: "RobotoLight";
        font-size: 12px;
        color: #e9e4d1;
        text-align:center;
        }

.countries {text-align: left; font-size: 28px;}
.countries img {margin-right: 5px;}


div.field {
  padding-bottom: -30px;
}
div.field label {
  display: block;
  float: left;
  width: 50px;
  height: 10px;
}

.float_left {float: left;}
.float_right {float: right;}

table.redTable {
  font-family: 'WhitneyBold';
   font-family: 'WhitneyMedium';
  background-color: #f1ece3;
  width: 98%;
  height: 30%;
  text-align: center;
  border-collapse: collapse;

}



table.redTable td, table.redTable th {
   border-bottom: 0.5px solid #bdb289;
  padding: 20px 2px;
}

table.redTable td:lastchild, table.redTable th:lastchild {
   border-bottom: 0.5px hidden #bdb289;
  padding: 20px 2px;
}

table.redTable tbody td {
  font-size: 13px;
  color: #333333;

}

table.redTable thead {
  background: #20368c;
}
table.redTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #20368c;
}
table.redTable tfoot td {
  font-size: 13px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #20368c;
  padding: 2px 8px;
  border-radius: 5px;
}

.position {display:block; margin: 15px auto; text-align: center;}

.content {
 padding-top: 35px;
  }


.rate-input {
  width: 30px;
}

h2 {
    
    color: #a71017;
    font-size:28px; 
   font-family: '7738';
   text-align:center;
  }


.match_number {color: #7e7e7e;
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;}

#raspisanie {font-family: 'Dusha_FIFA_World_Cup_2018';
            font-size: 72px;
            line-height: 76px;
            color: #333;
           font-style: normal;
          font-weight: 400;
          text-align: center;
          padding-top: 10px;}

.score {font-family: 'Dusha_FIFA_World_Cup_2018';
       font-size: 30px;
       color: #333;}

.match_2 {font-family: 'WhitneyBold';
          padding-top: 8px;
         color: #bdb289;
        font-size: 25px;}

.match_3 {font-family: 'WhitneyBold';
          padding-top: 8px;
         color: #333;
        font-size: 15px;}


.r21 {font-family:  'BebasRegular'; font-size: 20px;}

table.r1 {
   font-family: 'WhitneyMedium';
  background-color: #f1ece3;
  min-width: 60%;
  min-height: 30%;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;

}

table.r1 td {
   border: 0.5px solid #bdb289;
  padding: 2px 2px;
}

table.r1 tbody td {
  font-size: 13px;
  color: #333333;

}

table.r1 thead {
  background: #20368c;
}
table.r1 thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.r1 thead th:first-child {
  border-left: none;
}

table.r1 tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #20368c;
}
table.r1 tfoot td {
  font-size: 13px;
}
table.r1 tfoot .links {
  text-align: right;
}
table.r1 tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #20368c;
  padding: 2px 8px;
  border-radius: 5px;
}

.sizeimg {height: 20%; width: 20%;
}

.inlineblock { display: inline-block; margin: 2px;  vertical-align:bottom;}

.moshniydiv {text-align: center; color: #333; }

.prognoz {font-family: 'WhitneyMedium';
          font-size: 16px;
          color: #333; 

        }

#baton {  color: #fff;
  text-decoration: none;
  user-select: none; 
  background:#0196d8; 
  padding: 2% 5%; 
  outline: none; 
font-family: 'WhitneyMedium';
          font-size: 12px;
          color: #f1ece3;
          border: none;
          transition: all .3s;
        }

#baton:hover, #baton:active { background:#0a7eb2; transition: all .5s;}

.inputcss {max-height: 30%;
  max-width: 30%; 
 
  background:white;
color: #333; margin:4%;}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ex {float: right}

#baton2 {  
  margin-top: 4px;
  color: #fff;
  text-decoration: none;
  user-select: none; 
  background:#0196d8; 
  padding: 2% 5%; 
  outline: none; 
font-family: 'BebasRegular';
          font-size: 16px;
          color: #f1ece3;
          border: none;
          transition: all .3s;
          margin-left: 17px;
        }

#baton2:hover, #baton:active { background:#0a7eb2; transition: all .3s;}

#a {border-bottom: none; font-size: 17px; 

  font-family: 'BebasRegular';
margin-left: 10px;}

#a:hover {color: #0a7eb2;  transition: all .3s; }

#raspisanie2 {font-family: 'Dusha_FIFA_World_Cup_2018';
            font-size: 72px;
            color: #f1ece3;
           font-style: normal;
          font-weight: 400;
          text-align: center;
          padding-top: 3px;}

.pravila {font-family: 'Dusha_FIFA_World_Cup_2018';
font-size: 30px;
            color: #f1ece3;
            text-align: center;}

.reglament {font-size: 18px;
            color: #f1ece3;
            text-align: center;}

